* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to right, hsla(230, 96%, 62%, 0.251), hsla(348, 97%, 63%, 0.251)); */
  background: linear-gradient(to right, hsla(229, 96%, 62%, 0.251), hsla(108, 97%, 63%, 0.251));
  /* background: linear-gradient(to right, #43cea2, #185a9d); */

  overflow-x: hidden;

  padding: 0px;

  font-size: 16px;
}


.App {
  width: 100%;
}

a {
  all:unset;
}
