* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #3f5efb40, #fc466b40);

  padding: 0px;

  font-size: 16px;
}


.App {
  width: 100%;
}

a {
  all:unset;
}
